%footer
  .container
    .row
      .col-md-12
        %p The Village Coal Tower 2020
        %hr
        %ul.social-icon
          %li
            %a.fa.fa-facebook{:href => "#"}
          %li
            %a.fa.fa-twitter{:href => "#"}
          %li
            %a.fa.fa-instagram{:href => "#"}
          %li
            %a.fa.fa-pinterest{:href => "#"}
          %li
            %a.fa.fa-google{:href => "#"}
          %li
            %a.fa.fa-github{:href => "#"}
          %li
            %a.fa.fa-apple{:href => "#"}