%footer
  .container
    .row
      .col-md-12
        %p The Village Coal Tower 2020
        %hr
        = link_to "https://www.facebook.com/pages/category/Breakfast---Brunch-Restaurant/Coal-Tower-Restaurant-115870105109192/" do
          = image_tag "facebook"