%section.website-section.bio
  .container
    .row.module
      .col-md-6.col-sm-6
        = image_tag '/assets/measureup/ems.jpg' ,class: "img-responsive img-bordered"
      .col-md-6.col-sm-6
        %h1 About Me

        %p My name is Emily provenzano, I am the owner and founder of MeasureUp. Fitness has been a long lived passion of mine, but I also happen to have the biggest sweet tooth ever! I created MeasureUp as a way for those who are health conscious to still be able to indulge in sweets, while fitting into their macronutrients. Not to mention, everything I make is gluten free and vegan! It is my goal to satisfy and accommodate everyone's dessert cravings.

