%section#gallery.gallery.padding-bottom-10
  .container
    .row
      .col-md-4.col-sm-4
        .gallery-wrapper
          = image_tag '/assets/measureup/gallery2.jpg', class: "gallery-img"
      .col-md-4.col-sm-4
        .gallery-wrapper
          = image_tag '/assets/measureup/gallery1.jpg', class: "gallery-img"
      .col-md-4.col-sm-4
        .gallery-wrapper
          = image_tag '/assets/measureup/gallery3.jpg', class: "gallery-img"
