%section.website-section.main
  .container
    .main-container
      .heading-container
        %h1.big-shadow Measure Up
        %h3.small-shadow Protein-based vegan and gluten-free desserts
        %a.order-button{href: "https://docs.google.com/forms/d/e/1FAIpQLSdpXMgC3eXX2r3xDcVM2Pn22nQSTBffcCzhpjYNhyV8ssmIxA/viewform", target: "_blank"} ORDER NOW
      %div.main-img-container
        = image_tag '/assets/measureup/main.jpg', class: "img-responsive img-bordered main-img"