%section.website-section.main
  .measureup-container
    .row
      .col-md-6.col-sm-6
        %h1 Measure Up
        %h3 Protein-based vegan and gluten-free desserts
        %button.order-button ORDER NOW
      .col-md-6.col-sm-6
        = image_tag '/assets/measureup/main.jpg' ,class: "img-responsive img-bordered"