%section.website-section.main
  .container
    .main-container
      .heading-container
        %h1.big-shadow Measure Up
        %h3.small-shadow Protein-based vegan and gluten-free desserts
        %a.order-button ORDER NOW
      %div.main-img-container
        = image_tag '/assets/measureup/main.jpg', class: "img-responsive img-bordered main-img"