%section.website-section.testemonials
  .container
    .row
      .col-md-4.testemonial-block
        .testemonial-container
          %p "Well, this is the best thing I've ever eaten in my life. I had to RUN to order more!"
          %p - Stephanie B.
      .col-md-4.testemonial-block
        .testemonial-container
          %p "Please order protein deserts from MeasureUp. They're the best protein low calorie snacks I've ever had!"
          %p - Melo G.
      .col-md-4.testemonial-block
        .testemonial-container
          %p "Tastes great, you can't even tell its gluten-free and vegan!"
          %p - Karina K.
