%section#about.templatemo-section
  .container
    .row.padding-bottom-20
      %h2 Our Location
    .row.padding-bottom-10
      .col-md-6.col-sm-6
        %h3.padding-bottom-10.text-uppercase Visit Us
        %p
          %i.fa.fa-map-marker.contact-fa
          9 Schoen Place, Pittsford, NY
        %p
          %a.contact-link{href: "tel:+15853817866"} 585-381-7866

      .col-md-6.col-sm-6
        %h3.text-uppercase Hours
        %p
          %i.fa.fa-clock-o.contact-fa
          7:00 AM - 11:00 PM
        %p
          %i.fa.fa-bell-o.contact-fa
          Monday to Friday and Sunday

    .row
      .col-md-12.col-sm-12
        .google_map
          %iframe{src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2913.5925479495136!2d-77.51264479999999!3d43.0920608!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d134d8d924c867%3A0xd5e3e520f12169db!2sVillage%20Coal%20Tower%20Restaurant!5e0!3m2!1sen!2sus!4v1592273328785!5m2!1sen!2sus", width: "100%", height: "450", frameborder: "0", style: "border:0;", allowfullscreen: "", 'aria-hidden': "false", tabindex: "0"}
