%section.website-section.website-section__bio
  .container
    .row.module
      .col-md-6.col-sm-6
        %h1.coaltower-font Welcome to The Coal Tower!

        %p The Coal Tower’s location is rich in history going as far back as October 1825 when the Erie Canal first opened.  Boats were pulled by mules along the 362 mile waterway from Albany to Buffalo.

        %p Schoen (Shane) Place was originally a lumber yard called Schoen Alley, located along the canal’s towpath. In the early 1900’s Joe and Charles Schoen constructed the Coal Tower, using it for coal storage to service the boats on the Erie Canal and local residents.  Generations later, 1967, Ted Collins purchased the Coal Tower from the Schoen family.

        %p Working together with the community leaders and businesses, Mr. Collin’s vision of a retail center along the canal became a reality and in 1976 the Coal Tower Restaurant was opened.  Since then, Schoen Place has evolved into of the area’s favorite destinations, and we at the Coal Tower are proud to be part of making that happen.

        %p Our goals at Coal Tower are simple: to provide warm, friendly service to our customers/to offer a broad menu with appeals to all, using the finest and freshest ingredients/and last but not least to be an active member of this wonderful community.  Because although places such as Pittsford, Schoen Place, and The Coal Tower are rooted deep in history, only a community and its residents can make such places truly historic.

        %p We at the Coal Tower welcome you to relax and enjoy!
        %p We sincerely appreciate your patronage!

      .col-md-6.col-sm-6
        = image_tag 'about-img1' ,class: "img-responsive img-bordered img-about"
