%section#gallery.templatemo-section.templatemo-light-gray-bg
  .container
    .row

      .col-md-4.col-sm-4
        .gallery-wrapper
          = image_tag 'gallery-img1', class: "img-responsive gallery-img"
          //.gallery-des
          //  %h3 Curabitur
          //  %h5 Cras in ante mattis, elementum nunc sed.
      .col-md-4.col-sm-4
        .gallery-wrapper
          = image_tag 'gallery-img2', class: "img-responsive gallery-img"
          //.gallery-des
          //  %h3 Lorem ipsum
          //  %h5 In ullamcorper gravida enim id pulvinar
      .col-md-4.col-sm-4
        .gallery-wrapper
          = image_tag 'gallery-img3', class: "img-responsive gallery-img"
          //.gallery-des
          //  %h3 Pellentesque
          //  %h5 Maecenas efficitur nisi id sapien

