.flexslider
  %ul.slides
    %li
      = image_tag 'slider-img1'
      .flex-caption
        %h2.slider-title Village Coal Tower
        %p.slider-description Pittsford, NY
    %li
      = image_tag 'slider-img2'
      .flex-caption
        %h2.slider-title Village Coal Tower
        %p.slider-description where Family, Friends, and Food come together!