.flexslider
  %ul.slides
    %li
      = image_tag 'slider-img1'
      .flex-caption
        %h2.slider-title The Village Coal Tower
        %p.slider-description Where family, friends, and food come together
    %li
      = image_tag 'slider-img2'
      .flex-caption
        %h2.slider-title The Village Coal Tower
        %p.slider-description Where family, friends, and food come together